<div class="dashboard-container">
  <aside class="sidebar">
    <h2>Teacher Dashboard</h2>
    <ul class="nav-list">
      <li><a routerLink="/home-prof">Home</a></li>
      <li><a routerLink="/profilp">Manage student</a></li>
      <li><a routerLink="/com">Communicate</a></li>
      <li><a routerLink="/upload">Upload Courses</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </aside>
    <div class="main-content">
      <h1>Gestion de Profil</h1>

      <div class="search-bar">
        <input
          type="text"
          placeholder="Search by name or email"
          [(ngModel)]="searchTerm"
          (input)="filterUsers()"
        />
      </div>
  
 
      <table class="user-table" *ngIf="!editingUser">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button (click)="editUser(user)">Edit</button>
              <button (click)="deleteUser(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="edit-form" *ngIf="editingUser">
        <h2>Edit User</h2>
        <form>
          <label for="id">ID:</label>
          <input id="id" type="text" [(ngModel)]="editingUser.id" name="id" disabled />
          <br><br>
          <label for="lastname">Lastname:</label>
          <input id="lastname" type="text" [(ngModel)]="editingUser.lastname" name="lastname" />
          <br><br>
          <label for="name">Name:</label>
          <input id="name" type="text" [(ngModel)]="editingUser.name" name="name" />
          <br><br>
          <label for="email">Email:</label>
          <input id="email" type="email" [(ngModel)]="editingUser.email" name="email"/>
          <br><br>
          <label for="telephone">Telephone:</label>
          <input id="telephone" type="tel" [(ngModel)]="editingUser.telephone" name="telephone" />
          <br><br>
          <label for="adresse">Adresse:</label>
          <input id="adresse" type="text" [(ngModel)]="editingUser.adresse" name="adresse" />
          <br><br>
          <label for="role">Role:</label>
          <select id="role" [(ngModel)]="editingUser.role" name="role">
            <option value="professor">Professor</option>
            <option value="admin">Admin</option>
            <option value="student">Student</option>
          </select>
          <br><br>
          <div class="form-actions">
            <button type="button" (click)="confirmEdit()">Confirm</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  