<div class="dashboard-container">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="verify-courses-container">
    <h2>Vérification des Cours</h2>
    

    <div *ngIf="courses.length > 0; else noCourses">
      <ul>
        <li *ngFor="let course of courses" (click)="viewCourseDetails(course)">
          {{ course.Titre }} <!-- Display the course title -->
        </li>
      </ul>
    </div>
    
    <ng-template #noCourses>
      <p>No courses available.</p>
    </ng-template>
    
    <div *ngIf="selectedCourse" class="modal">
      <div class="modal-content">
        <h2>{{ selectedCourse.Titre }}</h2>
        <p>{{ selectedCourse.Description }}</p>
    
    
        <button (click)="approveCourse(selectedCourse)">Approve</button>
        <button (click)="rejectCourse(selectedCourse)">Reject</button>
    
       
        <textarea [(ngModel)]="reviewComment" placeholder="Enter review comment"></textarea>
        <br/>
        
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
    
  
<router-outlet></router-outlet>
</div>
  